{% load static  %}
<!-- highlight.js -->
<link rel="stylesheet" href="{% static 'django_quill/vendor/highlight.css' %}">
<script src="{% static 'django_quill/vendor/highlight.min.js' %}"></script>

<!-- Quill.js -->
<link href="{% static 'django_quill/vendor/quill.snow.css' %}" rel="stylesheet">
<script src="{% static 'django_quill/vendor/quill.js' %}"></script>

<!-- quill-image-compress -->
<script src="{% static 'django_quill/vendor/quill.imageCompressor.min.js' %}"></script>

<!-- Custom -->
<link rel="stylesheet" href="{% static 'django_quill/django_quill.css' %}">
<script src="{% static 'django_quill/django_quill.js' %}"></script>
